# Data Science Tools and Ecosystem

#### In this notbook, Data Science Tool and Ecosystem are summarized

**Objectives**
* Learning SQL
* Learning Python and Jupyter notebook
* Learning the basics of some statistics and using them in data sciences
* Learning Data Visualisation

Some of the popular languages that Data Scientists use are 
1. Python
2. SQL
3. R
4. C++

Some of the commonly used libraries used by Data Scienctists include:
1. Pandas
2. Numpy
3. Matplotlib
4. Seaborn

| Data Science Tools   | 
| -------- | 
| Jupyter Notebook  | 
| SQL Workbench and Server | 
| Tableau |
|Power BI|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [4]:
#This will cover 200 mniutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Krishanu Kalita